body{
    background-color: rgb(143, 8, 8);
}

#geral {
    background-color: antiquewhite;
    width: 80%;
    margin: auto;
    border-radius: 20px;
}

h3 {
    margin-top: 2%;
    margin-left: 5%;
    color: rgb(143, 8, 8) ;
}

#princ{
    padding: 6% 0 ;
    padding-bottom: 0;
}

img {
    width: 80%;
    /* padding: ; */
    margin: 0% 10%;
    border-radius: 50px;
}

figcaption {
    text-align: center;
    color: rgb(207, 92, 15);
}

a{
    color:  rgba(64, 29, 5, 0.368) ;
}

#icon {
    border-radius: 50%;
    width: 100%;
    opacity: 0.9;
    margin: 0;
}

table {
    margin: 2%;
}
table td{
    /* border: solid; */
    width:  15%;
}

.titulo{
    width: 85%;
}

