body{
    background-color: rgb(143, 8, 8);
    font-family: "Alice", serif;
}

#geral {
    background-color: antiquewhite;
    width: 80%;
    margin: auto;
    border-radius: 20px;
}

h3 {
    margin-top: 5%;
    margin-left: 5%;
    color: rgb(143, 8, 8) ;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

h2{
    color: rgb(53, 10, 1);
}
main{
    margin: 8%;
}

ul{
    font-family: "Oswald", sans-serif ;
    font-weight: 200;
}

footer{
    color:  rgba(64, 29, 5, 0.747) ;
    text-align: center;
    margin:2% auto 5% auto;
    font-size: 90%;
}

#feito{
    padding-bottom: 5%;
}

#princ{
    padding: 6% 0 ;
    padding-bottom: 0;
}

img {
    width: 80%;
    margin: 0% 10%;
    border-radius: 50px;
}

figcaption {
    text-align: center;
    color: rgb(207, 92, 15);
}

a{
    color:  rgba(64, 29, 5, 0.368) ;
    text-decoration: none;
}

#icon {
    border-radius: 50%;
    width: 100%;
    opacity: 0.9;
    margin: 0;
}

table {
    margin: 2%;
}
table td{
    width:  15%;
}

.titulo{
    width: 85%;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.yell{
    color: rgb(101, 101, 5);
}

.brown{
    color: brown;
}

.purple{
    color: purple;
}

#final{
    text-align: center;
}