body{
    background-color: rgb(143, 8, 8);
}

#geral {
    background-color: antiquewhite;
    width: 80%;
    margin: auto;
    border-radius: 20px;
}

h3 {
    margin-left: 5%;
    color: rgb(143, 8, 8) ;
}

#icon {
    border-radius: 50%;
    width: 100%;
    opacity: 0.9;
}

table {
    margin: 2%;
}
table td{
    /* border: solid; */
    width:  15%;
}

.titulo{
    width: 85%;
}

